@import "./src/common/styles/sass/baseColors";
@import "./src/common/styles/CommonStyles";



.inputContainer {
  margin-bottom: 60px;
}
.input {
  width: 340px;
  height: 46px;
  border: none;
  outline: none;
  @include paragraphBaseLight16;
  padding: 12px 16px;
  border-radius: 4px;
}
.input__light {
border: 1px solid $primaryLightGray;
  color: $primaryDarkGray;
}
.input__dark {
  background-color: $secondaryBlack;
  color: $primaryLightGray;
}
.label {
  margin-bottom: 8px;
  @include inputBold12;
}
.view {
  width: 16px;
  height: 11px;
  position: absolute;
  right: 16px;
  top: 56%;
}
.passwordInput {
  position: relative;
}
@media screen and (max-width: 500px)  {
.input {
  width: 280px;
}
}