@import "../../common/styles/sass/baseColors";

.artistProfile {
display: flex;
}
.infoBlock {
  background-color: $primaryWhite;
  z-index: 101;
  border: 1px solid;
}
.artistName {
  color: $accentRed;
}
.mainPhoto {
  min-height: 300px;
  min-width: 300px;
  background-color: #1A1818;
}