@import "../../../common/styles/sass/baseColors";
@import "../../../common/styles/CommonStyles";

.genre {
  color: $primaryDarkGray;

  //width: 74px;
  //height: 17px;

}
.genreItem {
  display: inline-block;
  background: #F3F3F3;
  border-radius: 30px;
  padding: 8px 16px;
}
.genreValue {
  @include paragraphSmallMedium12;
}