@import "./src/common/styles/sass/baseColors";
@import "./src/common/styles/CommonStyles";



.authorization {
  width: 100%;


}

.authorizationContainer {

  border: 1px solid;
  width: 1028px;
  height: 700px;
  margin: 0 auto;
  display: flex;
}
.authorizationContainer__light {
  color: $primaryDarkGray;
}
.authorizationContainer__dark {
  color: $primaryWhite;
}
.picture {

}

.welcomeBack {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  width: 100%;
  align-items: center;
  padding: 30px;
}

.cancelIconWrapper {
  align-self: end;
}
.cancelIcon {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.title {
  @include h2Heading
}