@import "./src/common/styles/sass/baseColors.scss";

.photoItem__container {
  margin-top: 10px;
  margin-bottom: 10px;
  .photoItem {
    background-color: #827c7c;
    position: relative;
    max-width: 100%;
    height: 100%;
    .titleContainer {
      position: absolute;
      width: 300px;
      height: 82px;
      background-color: white;
      padding: 20px 20px 20px 0;
      left: 0;
      bottom: 0;
      .titleBlock {
        padding-left: 20px;
        height: 42px;
        border-left: 2px solid $accentRed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .years {
          color: $accentRed;
        }
      }
    }
  }

}


@media screen and (max-width: 767px) {
  .photoItem,
  .photoItem__img {
    min-width: 280px;
    min-height: 205px;
  }
  .photoItem__container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photoItem,
  .photoItem__img {
    min-width: 340px;
    min-height: 249px;
  }
  .photoItem__container {
    max-width: 48%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .photoItem,
  .photoItem__img {
    min-width: 300px;
    min-height: 230px;
  }
  .photoItem__container {
    width: 32%;
  }
}

@media screen and (min-width: 1366px) {
  .photoItem,
  .photoItem__img {
    //min-width: 360px;
    //min-height: 275px;
    width: 500px;
    height: 400px;
  }
  .photoItem__container {
    width: 32%;
  }
}

.photoItem__img {
  width: 500px;
  height: 400px;
}