@import "./src/common/styles/sass/baseColors.scss";
@import "./src/common/styles/CommonStyles";


.photoItem__container {
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #827c7c;
  position: relative;

  .hoverButton {
    display: none;
  }

  &.photoItem__container-active {
    .hoverButton {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 667;
      opacity: 0.9;
      height: 100%;
      width: 100%;

      &.hoverButton__dark {
        background-color: $primaryBlack;
      }

      &.hoverButton__light {
        background-color: rgba(255, 255, 255);
      }

      .hoverButtonSpan {
        @include buttonBold12;
        top: 49%;
        left: 35%;
        position: absolute;

        &.hoverButtonSpan__dark {
          color: $primaryLightGray;
          border-bottom: 2px solid $primaryLightGray;
        }

        &.hoverButtonSpan__light {
          color: $primaryDarkGray;
          border-bottom: 2px solid $primaryDarkGray;
        }
      }
    }
  }

  .photoItem {
    .photoItem__img {
      display: block;
      min-width: 300px;
    }

    .titleContainer {
      position: absolute;
      //width: 300px;
      min-height: 82px;
      padding: 20px 20px 20px 0;
      left: 0;
      bottom: 0;
      height: 20%;
      width: 80%;

      &.titleContainer__dark {
        background-color: $primaryBlack;
      }

      &.titleContainer__light {
        background-color: $primaryWhite;
      }

      .titleBlock {
        padding-left: 20px;
        //height: 42px;
        //height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.titleBlock__dark {
          border-left: 2px solid $accentGold;
        }

        &.titleBlock__light {
          border-left: 2px solid $accentRed;
        }

        .name {
          @include h4Heading;

          &.name__dark {
            color: $primaryLightGray;
          }

          &.name__light {
            color: $primaryBlack;
          }
        }

        .years {
          @include buttonBold12;

          &.years__light {
            color: $accentRed;
          }

          &.years__dark {
            color: $accentGold;
          }
        }
      }
    }
  }
}
.displayNone {
  display: none;
}
.displayBlock {
  display: block;
}

.settings__hover {
  position: absolute;
  z-index: 200;
  top: 14px;
  left: 14px;
  height: 28px;
  width: 24px;
  display: block;
  cursor: pointer;
  background: rgba(26, 24, 24, 0.1);
  //opacity: 0.1;
  border-radius: 4px;

}

.settings__menu {
  width: 150px;
  height: 105px;
  position: absolute;
  top: 50px;
  left: 12px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include inputBold12;

}
.settings__menu_light {
  background-color: $primaryWhite;
  color: $primaryWhite
}
.settings__menu_dark {
  background-color: $secondaryBlack;
  color: $secondaryBlack
}
 .settings__menu::before {
  position: absolute;
  top: -10px; left: 10px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 5px;
  border-left-width: 5px;
  border-bottom: 10px solid;
  content: '';
}


  .menuItem_light {
    color: $primaryDarkGray;
  }
  .menuItem_light:hover {
    color: $primaryBlack;
  }
  .menuItem_dark {
   color: $primaryLightGray;
  }
  .menuItem_dark:hover {
    color: $accentGold;
  }


@media screen and (min-width: 320px) and (max-width: 768px) {
  .photoItem,
  .photoItem__img,
  .photoItem__container {
    //width: 280px;
    //height: 185px;
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1439px) {
  .photoItem,
  .photoItem__img,
  .photoItem__container {
    width: 352px;
    //height: 220px;
  }
}

@media screen and (min-width: 1440px) {
  .photoItem,
  .photoItem__img,
  .photoItem__container {
    width: 392px;
    //height: 260px;
  }
}