@import "./src/common/styles/sass/baseColors.scss";
@import "./src/common/styles/CommonStyles";


.photoItem__container {
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #827c7c;
  position: relative;

  &.photoItem__container-active {
    .hoverButton {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 667;
      opacity: 0.9;
      height: 100%;
      width: 100%;
    }
    .hoverButton__dark {
      background-color: $primaryBlack;
    }
    .hoverButton__light {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  .photoItem {
    .titleContainer {
      position: absolute;
      width: 300px;
      height: 82px;
      padding: 20px 20px 20px 0;
      left: 0;
      bottom: 0;

      .titleBlock {
        padding-left: 20px;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name {
          @include h4Heading;
        }

        .years {
          @include buttonBold12;
        }
      }
    }
  }
}
.titleContainer__dark {
  background-color: $primaryBlack;
}
.titleContainer__light {
  background-color: $primaryWhite;
}
.titleBlock__dark {
  border-left: 2px solid $accentGold;
}
.titleBlock__light {
  border-left: 2px solid $accentRed;
}
.name__dark {
  color: $primaryLightGray;
}
.name__light {
  color: $primaryBlack;
}
.years__light {
  color: $accentRed;
}
.years__dark {
  color: $accentGold;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .photoItem,
  .photoItem__img,
  .photoItem__container {
    width: 280px;
    height: 185px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .photoItem,
  .photoItem__img,
  .photoItem__container {
    width: 352px;
    height: 220px;
  }
}

@media screen and (min-width: 1440px) {
  .photoItem,
  .photoItem__img,
  .photoItem__container {
    width: 392px;
    height: 260px;
  }
}

.photoItem__img {
  display: block;
}

//.photoItem__img-active {
//  display: none;
//}

.hoverButton {
  display: none;
}

.hoverButtonSpan {
  @include buttonBold12;
  top: 49%;
  left: 35%;
  position: absolute;
}
.hoverButtonSpan__dark {
  color: $primaryLightGray;
  border-bottom: 2px solid $primaryLightGray;
}
.hoverButtonSpan__light {
  color: $primaryDarkGray;
  border-bottom: 2px solid $primaryDarkGray;
}