.header {
  height: 10vh;

  position: fixed;
  z-index: 666666;
  background-color: white;
  width: 100%;
}

.headerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.authBlock {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.mobileMode {
  display: none;
}

@media screen and (max-width: 767px) {
  .authBlock {
    display: none;
  }
  .mobileMode {
    display: inline-block;
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
  .authBlock {
    display: none;
  }
  .mobileMode {
    display: inline-block;
    cursor: pointer;
  }
  .popUp {
    width: 80%;
  }
}

.nightModeHandler {
  margin-left: 40px;
}

.popUp {
  height: 100vh;
  z-index: 100;
  width: 70%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}

.cancelButton {
  float: right;
  padding-top: 30px;
}

.popUpContainer {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-left: 94px;

}

.crescent {
  width: 14px;
  height: 20px;
}

.cursor {
  cursor: pointer;
}