@import "../../common/styles/CommonStyles";
@import "../../common/styles/sass/baseColors";

.header {
  height: 12vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 666666;
  background-color: white;
  width: 100%;
}

.headerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

.authBlock {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.mobileMode {
  display: none;
}

@media screen and (max-width: 768px) {
  .authBlock {
    display: none;
  }
  .mobileMode {
    display: inline-block;
    cursor: pointer;
  }
  .loginButtons {
    @include h1Heading
  }
}

@media screen and (min-width: 769px) {
  //.authBlock {
  //  display: flex;
  //}
  .popUp {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 401px) {
  .loginButtons {
    @include h1Heading;
  }

}

@media screen and (max-width: 400px) {
  .authBlock {
    display: none;
  }
  .mobileMode {
    display: inline-block;
    cursor: pointer;
  }
  .popUp {
    width: 80%;
  }
  .loginButtons {
    @include h3Heading
  }
}

.nightModeHandler {
  margin-left: 40px;
}

.popUp {
  display: none;
  height: 100vh;
  z-index: 100;
  width: 70%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  color: $primaryDarkGray;
}
.popUpOnClick {
  display: block;
}
//.popUpTitles {
//  @include h5Heading;
//}

.cancelButton {
  float: right;
  padding-top: 30px;
}

.popUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto;
}
.changeModeBlock {
  margin-bottom: 70px;
  @include buttonBold12;
}
.changeModeTitle {
  text-decoration: underline;
}
.crescent {
  width: 14px;
  height: 20px;
}

.cursorPointer {
  cursor: pointer;
}