@import "./src/common/styles/sass/baseColors.scss";
@import "./src/common/styles/CommonStyles";

.toastMessage_wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000000000000000;
}
.toastMessage {
  position: absolute;
  bottom: 30px;
  right: 40px;
  z-index: 10000000000000;
  min-height: 90px;
  width: 440px;
  border-radius: 4px;

  &_light {
    background-color: $secondaryWhite;
    color: $primaryDarkGray;
    border: 1px solid $primaryLightGray;
  }
  &_dark {
    background-color: $secondaryBlack;
    color: $primaryLightGray;
  }
  @media screen and (max-width: 767px) {
    min-height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &_error {
    border-left: 8px solid $accentError;
  }
  &_success {
    border-left: 8px solid rgb(20, 144, 3);
  }
}
.toastMessage_container {
  padding: 16px;
}

.toastMessage_contentBlock {
  display: flex;
  &_imgBlock {
    margin-right: 10px;
  }
}

.toastMessage_text {
  @include paragraphSmallLight12;
  word-break: break-all;
}
.toastMessage_title {
  @include paragraphBaseMedium16;

  display: inline-block;
  margin-bottom: 8px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  &_error {
    color: $accentError;
  }
  &_success {
    color: rgb(20, 144, 3);
  }
}
.toastMessage_button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
}
