@import "./common/styles/sass/baseColors.scss";

.App {

}
.dark {
  background-color: $primaryBlack;
  color: $primaryLightGray;
}
.light {
  background-color: $primaryWhite;
}
.AppContainer {
  position: relative;
  max-width: 1440px;
  border: 1px solid;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

