@import "./common/styles/sass/baseColors.scss";

.App {
  //background-color: $primaryBlack;
}
.AppContainer {
  //width: 90%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}