$primaryWhite: #FFFFFF;
$primaryBlack: #121212;
$primaryLightGray: #DEDEDE;
$primaryDarkGray: #575757;

$secondaryWhite: #FCFCFC;
$secondaryBlack: #1A1818;
$secondaryGray: #9C9C9C;

$accentRed: #9B4B4B;
$accentGold: #AB8956;
$accentError: #AE2917;