@import "./src/common/styles/sass/baseColors.scss";
@import "./src/common/styles/CommonStyles";

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
button:disabled {
  cursor: auto;
}
.slider {
  max-width: 100vw;
  position: relative;
  .item {
    height: 100%;
    width: 100%;
    max-width: 100vw;
  }
  .counter {
    font-weight: bold;
    color: $primaryWhite;
    @include h3Heading;

  }
}
.arrowLeft {
  position: absolute;
  z-index: 100;
  top: 55%;
  left: 10px;
}
.arrowRight {
  position: absolute;
  z-index: 100;
  top: 55%;
  right: 10px;
}
.canselButton {
  position: absolute;
  z-index: 100;
  top: 3%;
  right: 10%;
  background: rgba(26, 24, 24, 0.1);
}
.infoBlock {
  width: 498px;
  height: 100px;
  position: absolute;
  bottom: 10%;
  left: 20px;
  padding-top: 20px;
  padding-right: 20px;

  &_light {
    background-color: $secondaryWhite;
  }
  &_dark {
    background-color: $primaryBlack;
  }
&Container {
  padding-left: 20px;
  &_light {
 border-left: 2px solid $accentRed;
  }
  &_dark {
    border-left: 2px solid $accentGold;
  }
  .name {
    @include h4Heading;
    @include captionMedium16;
    &_light {
      color: $primaryBlack;
    }
    &_dark {
      color: $primaryWhite;
    }
  }
  .year {
    @include buttonBold12;
    &_light {
      color: $accentRed;
    }
    &_dark {
      color: $accentGold;
    }
  }

}
}
.iconsBlockContainer {
  width: 100%;
  float: right;
  .iconsBlock {
    display: flex;
    width: 50px;
    align-items: end;
    float: right;
    justify-content: space-between;
  }
}

.swiper-container {
  width: 500px;
}
.swiper-wrapper {
  padding-inline-start: 0;
}